.main{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url(../Asset/image/loading.jpeg);
    z-index: 100000000;
    background-position: center;
    background-size: cover;
}
.mainCap{
    overflow: hidden;
}

.mainCap h4{
    color: #fff;
    padding-top: 15vh;
    font-size: 20px;
    text-align: center;
    transform: translateY(100%);
    display: inline-block;
}
.mainCap p{
    border: 2px solid #fff;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    padding: 10px 20px;
    justify-content: center;
    cursor: pointer;
    width: 300px;
    margin:  15px auto;
    transform: translateY(140%);
    display: inherit;

}
@media (max-width:375px) {
    .mainCap p{
        top: 30%;
    }
}